<h2 class="country-name">{{name}}</h2>
<div class="country">
    <div class="country-info">
        <p class="capital"><span>Capital:</span>{{capital}}</p>
        <p class="population"><span>Population: </span>{{population}}</p>
        <span class="languages-title">Languages: </span>
        <ul class="languages">
            {{#each languages}}
            <li class="language">{{this.name}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="country-flag">
        <img class="country-flag__image" src="{{flag}}" alt="country-flag">
    </div>
</div>